*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Sofia Sans', serif;
    background-color: black;
    color: aliceblue;
    display: block;
}
.container {
    height: 200px;
    margin-top: 50px;
  }

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: rgb(24, 23, 23);
}
  
.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
.menu li {
    display: inline-block;
    margin: 0 10px;
}
  
.menu li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
}
li a:hover {
    background-color: rgb(46, 44, 44);
}

.column{
    float: left;
    padding: 10px;
}

.column.side{
    width: 10%;
    height: 100%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
.column.middle{
    width: 80%;
    min-height: 600px;
}


.text {
    float: right;
}

.btn {
    cursor: pointer;
    border: 1px;
    background-color: white;
    height: 250px;
    width: 50%;
    color: blue;
    font-size: 1.5em;
    padding: 10px;
}

.box-1{
    border: 1px;
    background-color: black;
    height: 250px;
    width: 50%;
    padding: 10px;
    float: left;
    text-align: center;
    
}

.box-2{
    border: 1px;
    background-color: black;
    height: 250px;
    width: 50%;
    padding: 10px;
    float: right;
    
}

img.principal{
    height: 240px;
    width: 100%;
    padding: 10px;
    border: 1px;
    
}

.principal.responsive{
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;

}

footer {
    width: 100%;
    height: 50px;
    background-color: rgb(24, 23, 23);
    margin: 5px;
    color: #fff;
    padding: 5px;
    text-align: center;
    bottom: 0;
    position: static;
}

#scroll-to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: rgb(24, 23, 23);
    color: aliceblue;
    
    
}
  
/* Estilos para pantallas grandes */
@media only screen and (min-width: 1200px) {
    /* Estilos para la navegación */
    .menu {
      width: 100%;
    }
    
    .menu ul {
      right: 0;
    }
    
    .menu li {
      width: auto;
      float: none;
      display: inline-block;
    }
    
    /* Estilos para la sección principal */
    .column.middle {
      width: 70%;
    }
    
    .column.side {
      width: 15%;
    }
}
  
  /* Estilos para pantallas medianas */
@media only screen and (min-width: 768px) and (max-width: 1199px) {
    
    /* Estilos para la sección principal */
    .column.middle {
      width: 85%;
    }
    
    .column.side {
      width: 10%;
    }
    .container {
        height: 200px;
        margin-top: 80px;
      }
}
  
  /* Estilos para pantallas pequeñas */
@media only screen and (max-width: 767px) {

    /* Estilos para la sección principal */
    .column.middle {
        width: 100%;
      }
    .column.side{
        width: 0%;
        height: 0%;
    }

    .container {
        height: 300px;
        margin-top: 80px;
      }
}
  